<div class="pointmap-area">
	<img src="<%= asset_path "japanmap.png" %>">
	<%= link_to '北海道', genre_path(id: 1), class: "btnblue-default", style: "position: absolute; bottom: 610px; right: 310px;" %>

  <%= link_to '東北(日本海側)',genre_path(id: 2), class: "btnblue-default", style: "position: absolute; bottom: 391px; right: 330px;" %>

	<%= link_to '東北(太平洋側)',genre_path(id: 3), class: "btnblue-default", style: "position: absolute; bottom: 427px; right: -5px;" %>

	<%= link_to '北陸',genre_path(id: 4), class: "btnblue-default", style: "position: absolute; bottom: 335px; left: 290px;" %>

	<%= link_to '房総半島',genre_path(id: 5), class: "btnblue-default", style: "position: absolute; bottom: 287px; right: 14px;" %>

	<%= link_to '湘南・三浦半島',genre_path(id: 6), class: "btnblue-default", style: "position: absolute; bottom: 250px; right: -28px;" %>

	<%= link_to '伊豆半島',genre_path(id: 8), class: "btnblue-default", style: "position: absolute; bottom: 101px; right: 119px;" %>

	<%= link_to '本栖湖',genre_path(id: 7), class: "btnblue-default", style: "position: absolute; bottom: 138px; right: 133px;" %>

	<%= link_to '伊豆七島・小笠原',genre_path(id: 9), class: "btnblue-default", style: "position: absolute; bottom: 175px; right: 63px;" %>

	<%= link_to '紀伊半島',genre_path(id: 10), class: "btnblue-default", style: "position: absolute; bottom: 140px; right: 270px;" %>

	<%= link_to '山陰',genre_path(id: 11), class: "btnblue-default", style: "position: absolute; bottom: 275px; left: 110px;" %>

	<%= link_to '四国',genre_path(id: 12), class: "btnblue-default", style: "position: absolute; bottom: 94px; right: 399px;" %>

	<%= link_to '九州',genre_path(id: 13), class: "btnblue-default", style: "position: absolute; bottom: 150px; left: 40px;" %>

	<%= link_to '薩南諸島',genre_path(id: 14), class: "btnblue-default", style: "position: absolute; bottom: 581px; left: 200px;" %>

	<%= link_to '沖縄本島',genre_path(id: 15), class: "btnblue-default", style: "position: absolute; bottom: 544px; left: 200px;" %>

	<%= link_to '沖縄(離島)',genre_path(id: 16), class: "btnblue-default", style: "position: absolute; bottom: 507px; left: 200px;" %>
</div>