<div class="row" style="margin-bottom: 50px;">
	<%= link_to point_path(gp) do %>
		<div class="col-xs-4 col-xs-offset-1">
			<%= image_tag attachment_url(gp, :point_image, :fill, 320, 250, fallback: "no_image.png"), size:'320x250', class: "point-image" %>
		</div>
	<% end %>
	<div class="col-xs-6" style="margin-left: 50px;">
		<table class="table-borderless">
		  <tr>
		  	<th style="font-size: 25px;"><%= link_to gp.point_name, point_path(gp), style: "text-decoration:none; color:black;" %></th>
		  </tr>
		  <tr>
		  	<td><%= gp.point_body.truncate(290, omission: '.....') %></td>
		  </tr>
		</table>
		<p style="text-align: right;"><strong><%= link_to '詳しく見る＞', point_path(gp), style: "text-decoration: none; color: #0066FF;" %></strong></p>
	</div>
</div>