<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="sidebar">
				<%= render 'points/sidebar', genres: @genres %>
			</div>
		</div>
		<div class="col-xs-9">
			<h3 style='margin-top: 30px; margin-bottom: 50px;'>すべてのエリア表示中（全<%= @point.count %>件）
			</h3>
			<% @points.each do |gp| %>
			  <%= render 'points/index', gp: gp %>
			<% end %>
			<%= paginate @points %>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>