<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<div class="sidebar">
				<%= render 'points/sidebar', genres: @genres %>
			</div>
		</div>
		<div class="col-xs-10">
			<h1 class="pointposts-headline"><%= @point.point_name %>のブログ</h1>
			<div class="border"></div>
			<%= render 'posts/index', posts: @posts_page %>
			<div style="text-align: center;">
				<%=  paginate @posts_page %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>