<div class="body">
	<a href="/">
		<img src="<%= asset_path "DiveLink_logo.png" %>" width="250px">
	</a>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3" style="text-align: center;">
				<div class="form-area">
					<h2>マイページ編集</h2>
					<%= form_for(@user) do |f| %>

					<% if @user.errors.any? %>
						<h3><%= @user.errors.count %>error occurrence</h3>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					<% end %>
				  <table class="table">
				  	<tr>
				  		<th>名前</th>
				  		<td><%= f.text_field :name, class: "form-control", style:"width: 70%;" %></td>
				  	</tr>
				  	<tr>
				  		<th>ニックネーム</th>
				  		<td><%= f.text_field :nick_name, class: "form-control", style:"width: 70%;" %></td>
				  	</tr>
				  	<tr>
				  		<th>年代</th>
				  		<td><%= f.select :age, ["20代", "30代", "40代", "50代", "60代", "70代以上"], :prompt => "選択する" %></td>
				  	</tr>
				  	<tr>
				  		<th>性別</th>
				  		<td><%= f.select :gender, ["男", "女"], :prompt => "選択する" %></td>
				  	</tr>
				  	<tr>
				  		<th>経験本数</th>
				  		<td><%= f.select :number, ["0~10本","11~30本","31~50本","50~100本","101~200本","201~300本","301~500本","500本以上"], :prompt => "選択する" %></td>
				  	</tr>
				  	<tr>
				  		<th>取得しているライセンス</th>
				  		<td><%= f.text_field :license, class: "form-control", style: "width: 70%;" %></td>
				  	</tr>
				  	<tr>
				  		<th>よく行くポイント</th>
				  		<td><%= f.select :point_id, Point.all.map { |point| [point.point_name, point.id] }, :prompt => "選択する" %></td>
				  	</tr>
				  	<tr>
				  		<th>Eメールアドレス</th>
				  		<td><%= f.text_field :email, class: "form-control", style: "width: 70%;" %></td>
				  	</tr>
				  	<tr>
				  		<th>郵便番号</th>
				  		<td><%= f.text_field :postal_code, class: "form-control", style:"width: 70%;", placeholder: "ハイフンなし" %></td>
				  	</tr>
				  	<tr>
				  		<th>都道府県</th>
				  		<td><%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, id: "user_prefecture" %></td>
				  	</tr>
				  	<tr>
				  		<th>市町村</th>
				  		<td><%= f.text_field :city, id: "user_city", class: "form-control", style:"width: 70%;" %></td>
				  	</tr>
				  	<tr>
				  		<th>丁番地建物名</th>
				  		<td><%= f.text_field :street, id: "user_street", class: "form-control", style:"width: 70%;" %></td>
				  	</tr>
				  	<tr>
				  		<th>プロフィール画像</th>
				  		<td><%= f.attachment_field :profile_image, placeholder: "image" %></td>
				  	</tr>
				  	<tr>
				  		<th>自己紹介文</th>
				  		<td><%= f.text_area :introduction, class: "form-control", style:"width: 70%;" %></td>
				  	</tr>
				  </table>
				  <%= f.submit '保存', class: "btnwhite" %><br><br>
				  <strong><%= link_to '＜マイページへ戻る', user_path(current_user), style: "color: #0066FF; text-decoration: none;" %></strong><br><br>
				  <%= link_to 'アカウント削除', user_path(current_user.id), method: :delete, data: {confirm: "アカウントが消去されます。よろしいですか？"}, class: "btnred-header" %>


					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

