<%= render 'layouts/header' %>
<div class="container">
	<div class="profile row">
			<div class="col-xs-3 col-xs-offset-2">
				<div class="profile-image-show">
				  <%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, fallback: "no_image.png"), size: '300x300', class: "profile-image-index" %>
				</div>
			</div>
			<div class="profile-table col-xs-5">
				<h2 class="profile-headline">Profile</h2>
				<strong><%= link_to "フォロー", follows_user_path(@user.id), style: "text-decoration: none; color: #0066FF;" %></strong> <strong><%= @user.followings.count %></strong>
				 | <strong><%= link_to "フォロワー", followers_user_path(@user.id), style: "text-decoration: none; color: #0066FF;" %></strong> <strong style="margin-right: 20px;"><%= @user.followers.count %></strong>
				<% if signed_in? %>
					<% if @user == current_user %>
						<%= link_to '編集', edit_user_path(@user), class: "btnblue-default" %>
					<% else %>
					  <% if @user.followed_by?(current_user) %>
						  <%= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
						<% else %>
						  <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn btn-default" %>
						<% end %>
					<% end %>
				<% end %>
				<table class="table" style="table-layout:fixed;width:100%;">
					<tr>
						<th>ニックネーム</th>
						<td><%= @user.nick_name %></td>
					</tr>
					<% if @user == current_user %>
						<tr>
							<th>名前</th>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<th>Eメールアドレス</th>
							<td><%= @user.email %></td>
						</tr>
						<tr>
							<th>住所</th>
							<td>
								〒<%= @user.postal_code %><br>
								<%= @user.prefecture %><%= @user.city %><%= @user.street %></td>
						</tr>
					<% end %>
					<tr>
						<th>年齢</th>
						<td><%= @user.age %></td>
					</tr>
					<tr>
						<th>性別</th>
						<td><%= @user.gender %></td>
					</tr>
					<% if @user.point.present? %>
						<tr>
							<th>お気に入りのポイント</th>
							<td><strong><%= link_to @user.point.point_name, point_path(id: @user.point_id),style: "color: #0066FF; text-decoration: none;" %></strong></td>
						</tr>
					<% end %>
					<tr>
						<th>ライセンス</th>
						<td><%= @user.license %></td>
					</tr>
					<tr>
						<th>経験本数</th>
						<td><%= @user.number %></td>
					</tr>
					<tr>
						<th>自己紹介</th>
						<td style="word-wrap:break-word;"><%= @user.introduction %></td>
					</tr>
				</table>
			</div>
	</div>
</div>

<div style="width: 100%; background-color: #EEEEEE;">
	<div class="container">
		<div class="row">
			<ul class="tabnav">
		    <li><a href="#tab01"><strong>BLOG</strong></a></li>
		    <li><a href="#tab02"><strong>POINT</strong></a></li>
			</ul>
			<div class="tabcontent">
		    <div id="tab01">
		    	<h1 style="text-align: center; margin-top: 40px; margin-bottom: 0;"><%= @user.nick_name %>さんのブログ（<%= @user.posts.count %>）</h1>
					<div class="border"></div>
					<% if @posts.present? %>
					  <%= render 'posts/index', posts: @posts %>
						<div style="text-align: center;">
							<%= paginate @posts %>
						</div>
					<% else %>
					<h3 style="text-align: center; padding-bottom: 60px;"><%= @user.nick_name %>さんのブログはまだありません。</h3>
					<% end %>
					<%= link_to '+', new_post_path, class: "newpost-btn", style: "float: right; position: relative; bottom: 822px;" %>
		    </div>
		    <div id="tab02">
		    	<h1 style="text-align: center; margin-top: 40px; margin-bottom: 0;"><%= @user.nick_name %>さんの行ったポイント</h1>
		    	<div class="border"></div>
		    	<div class="col-xs-12">
		    		<% @points.each do |p| %>
		    		  <div style="float: left; margin: 0 15px 30px 15px;">
		    		  	<%= link_to point_path(p.id), style: "text-decoration: none;" do %>
		    		  	  <%= image_tag attachment_url(p, :point_image, :fill, 250, 200, fallback: "no_image.png"), size:'250x200', class: "post-index-img" %>
		    		  	  <h3><strong><%= p.point_name.truncate(10, omission: '…') %></strong></h3>
		    		  	<% end %>
		    		  </div>
		    		<% end %>
		    	</div>
		    	<div style="text-align: center;">
		    		<%= paginate @points %>
		    	</div>
		    </div>
			</div>
		</div>
  </div>
</div>





<%= render 'layouts/footer' %>