<div class="col-xs-12">
	<% posts.each do |f| %>
		<div style="float: left; margin: 0 15px 30px 15px;">
		  <%= link_to post_path(f.id) do %>
		    <%= image_tag attachment_url(f, :main_image, :fill, 250, 200, fallback: "no_image.png"), size:'250x200', class: "post-index-img" %>
		    <h3 class="post-title-index"><strong><%= f.title %></strong></h3>
		  <% end %>
		  <%= f.created_at.strftime('%Y/%m/%d %H:%M') %>
		  <span style="float: right;">
		  	<i class="fas fa-heart" style="color: red;"></i> <%= f.likes.count %>
		  	<i class="fas fa-comment" style="color: blue;"></i> <%= f.post_comments.count %>
		  </span><br>
		  <%=link_to user_path(f.user) do %>
		    <div>
			    <%= image_tag attachment_url(f.user, :profile_image, :fill, 32, 32, fallback: "no_image.png"), size:'32x32', class: "profile-image" %>
			    <p class="user-name-post"><%= f.user.nick_name %></p>
		    </div>
		  <% end %>
		 </div>
	<% end %>
</div>