<header class="container">
  <div class="clearfix">
    <a href="/">
      <img src="/assets/DiveLink_logo.png" width="250px" style="position: absolute; top: 0px;">
    </a>
    <% if user_signed_in? %>
      <span class="login">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, deta: {confirm: "ログアウトします。よろしいですか？"}, class: "btn btn-danger" %>
      </span>
      <span class="login login-name">
        <%= link_to current_user.nick_name, user_path(current_user) %>さんがログイン中
      </span>
    <% else %>
      <span class="login">
        <%= link_to '新規登録',new_user_registration_path, class: "btn btn-danger" %>
      </span>
      <span class="login">
        <%= link_to 'ログイン', new_user_session_path, class: "btn btn-default" %>
      </span>
    <% end %>
  </div>
  <div class="nav-list">
    <span><strong><%= link_to 'Top', root_path %></strong></span>
    <span><strong><%= link_to 'About', about_path %></strong></span>
    <span><strong><%= link_to 'Blogs', posts_path %></strong></span>
    <span><strong><%= link_to 'Users', users_path %></strong></span>
    <span><strong><%= link_to 'DivingPoint' %></strong></span>
    <% if user_signed_in? %>
      <span><strong><%= link_to 'My Page', user_path(current_user) %></strong></span>
      <span><strong><%= link_to 'New Blog', new_post_path %></strong></span>
    <% end %>
  </div>
</header>
<div class="header-border"></div>