<% if user_signed_in? %>
  <header class="container">
    <div class="clearfix">
      <a href="/top">
        <img src="<%= asset_path "DiveLink_logo.png" %>" width="250px" style="position: absolute; top: 0px;">
      </a>
      <span class="login">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, deta: {confirm: "ログアウトします。よろしいですか？"}, class: "btn btnred-header" %>
      </span>
      <span class="login login-name">
        <%= link_to current_user.nick_name, user_path(current_user) %>さんがログイン中
      </span>
    </div>
    <div class="nav-list">
      <span><strong><%= link_to 'Top', signin_top_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'Blogs', posts_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'Users', users_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'DivingPoint', genres_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'My Page', user_path(current_user), style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'New Blog', new_post_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
    </div>
    <span class="search"><%= render 'search/search' %></span>
  </header>
  <div style="border-bottom: solid 1px gray;"></div>

<% else %>

  <header class="container">
    <div class="clearfix">
      <a href="/">
        <img src="<%= asset_path "DiveLink_logo.png" %>" width="250px" style="position: absolute; top: 0px;">
      </a>
      <span class="login">
        <%= link_to '新規登録',new_user_registration_path, class: "btnred-header" %>
      </span>
      <span class="login">
        <%= link_to 'ログイン', new_user_session_path, class: "btnwhite" %>
      </span>
    </div>
    <div class="nav-list">
      <span><strong><%= link_to 'Top', root_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'Blogs', posts_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'Users', users_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
      <span><strong><%= link_to 'DivingPoint', genres_path, style: "color: #0033CC; text-decoration: none;" %></strong></span>
    </div>
    <span class="search"><%= render 'search/search' %></span>
  </header>
  <div style="border-bottom: solid 1px gray;"></div>
<% end %>




