<!DOCTYPE html>
<html>
  <head>
    <title>DiveLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!--  <div class="progress" id="progress">
      <span class="progress-bar"></span>
      <span class="progress-text">0%</span>
    </div> -->
    <div id=wrapper>
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/back' %>
</html>
